
*{
	margin: 0;
	padding: 0;
}

/*基础*/
body{
	/*background:#F5F5F5;*/
	margin: 0 auto;
	width: 1998px;
}






/*主体*/
/*header*/

#header
{
	padding: 18em 10em 20em 10em;
	position: relative;
	background: url(../gate.jpg) no-repeat top center;
	background-attachment: fixed;
	background-size: cover;
	text-align:center;
}

#header:before
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(64,64,64,0.1);
}


.homepage #header
{
	position: 12em 0 10em 0;
}

/*logo*/

#logo
{
	position: relative;
	z-index: 1;
}

#logo h1
{
}

#logo a
{
	display: inline-block;
	text-decoration: none;
	font-weight: 200;
	line-height: 1em;
	font-size: 6em;
	color:#fff;
	letter-spacing: -0.05em;
	font-family: Microsoft JhengHei;
	margin: 0 0 0 0;
	font-weight: border;
}

#logo span
{
	position: relative;
	top: 10px;
	font-size:1.5em;
	color: #fff;
	font-weight: bolder;
}


.p1
{
	margin-left: 8em;
	margin-right: 8em;
	padding-left: 15em;
	padding-right: 15em;
	font-size: 1.2em;
}

/*nav*/
#nav
{
}

#nav-wrapper
{	
	background: rgba(96,96,96,0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px grey solid;
}

#nav > ul
{
	margin: 0;
	padding: 0;
	text-align: center;
}

#nav > ul > li
{
	display: inline-block;
	border-right: 1px  white solid;
}

#nav > ul > li:last-child
{
	padding-right: 0;
	border-right: none;
}

#nav > ul > li > a
{
	display: inline-block;
	padding: 1.5em 1.5em;
	letter-spacing: 0.06em;
	text-decoration: none;
	font-size: 1.1em;
	color: #fff;


}

#nav li.active a
{
	color: #fff;
}

#nav > ul > li > ul
{
	display: none;
}

#feature
{
	padding:1.5em 0;
	font-size: 1.6em;

}

#feature .container
{
	margin-bottom: 3em;
}

#feature p
{
	line-height: 2em;
	font-size: 1.2em;
	text-align: center;
}

.row .u
{
/*	border:1px grey solid;*/
	display: inline-block;
	/*overflow: hidden;*/
	float: left;
	width: 600px;
	position: relative;
	left: 120px;
}

.u h3
{
	color: #5b5b5b;
	font-weight: bolder;
	padding-top: 1em;
	padding-bottom: 0.6em;
	text-align: center;
}

.button1
{
	display: inline-block;
	color: white;
	background-color: #5151a2;
	text-decoration: none;
	font-weight: bolder;
	position: relative;
	left: 220px;
	padding:1em 1em 1em 1em;
	border-radius: 0.25em;
	margin: 0px 10px 10px 10px;
}



 .container1 h2 
{
	padding-top: 1.1em;
	padding-bottom: 0.5em;
	color: #5b5b5b;
	font-family: Microsoft JhengHei;
}

.container1 p
{
	padding-right: 5em;
	padding-left: 5em;
	font-family: Microsoft JhengHei;
	padding-bottom: 3em;
}

/*.u1
{
	padding: 50px 10px 10px 50px;
	display: inline-block;
	float: left;
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 150px;
}*/
.main
{
	display: inline-block;
	clear: left;
	background-color: #f1f1f1;
	/*border:2px red solid;*/
	/*z-index:-1;*/
	position: relative;
	top: 50px;
	font-family: Microsoft JhengHei;
	border-radius:(25px 25px 0 0)
}

.img
{
	/*border:2px blue solid;*/
	width: 80%;
	height: 450px;
	padding: 10px 0px 10px 0px;
	/*margin-bottom: 0px;*/
	display: inline-block;
	float: left;
	overflow: hidden;
	text-align: center;
	position: relative;
	top: 100px;
	left: 90px;
	background-color:  #f1f1f1;
	margin-left:0px;
	margin-bottom: 15px;
	/*box-shadow: 15px 20px black;*/
	border-radius:25px;
	/*background-color: grey;*/
}

.img img
{
	border-radius: 25px;
	box-shadow: 10px 10px grey;
}



.main p
{
	padding: 50px 50px 50px 50px;

}



/*引脚*/

#footer
{
	font-family: Microsoft JhengHei;
	position: relative;
	bottom: -80px;
	background-color: #4d4d4d;
	/*border:2px red solid;*/
	clear: left;
	padding-bottom: 50px;
	margin-bottom:0px;
	text-align: center;
	padding: 120px 0 120px 0;
	text-decoration: none;
}

li
{
	display: inline-block;
}


/*版权*/

#copyright .copyright
{
	text-align: center;
	position: relative;
	display: inline-block;
	background-color: yellow;
	text-decoration: none;
}


#left,#right
		{
			float: left;
			text-align: center;
			height:2500px;

		}

		#left
		{
			width: 50%;
			background-color:#f1f1f1;
			/*background-image: url(../bondconstruct.jpg);*/
			position: relative;
			left: 50px;

		}

		#right
		{
			width: 50%;
			background-color:#f1f1f1;
			/*background-image: url(../bondconstruct.jpg);*/
			position: relative;
			right: 50px;
		}

